form{
    width: 100%;
    text-align: left;
    line-height: 2;
    padding: 10px;
    box-sizing: border-box;
    font-family: serif;

}
form p{
    margin-bottom: 20px;
}
input[type=button]{
    background-color: white;
    text-decoration: none;
    border: none;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
p#result{
background-color: lime;
width: 60%;
}
